{%- assign footerData = site.data.blog.footer.footerMenu.dropdown -%}
{%- assign footerData2 = site.data.blog.footer -%}
<div class="container-fluid">
    <div class="main_row row py-5 samePad mx-0">
        <div class="col-md-10 mx-auto">
            <div class="row d-flex  justify-content-between">
                {%- for item in footerData -%}
                <div class="col-md-2">
                    <p class="font-weight-bold footer_subheading">{{item.categoryName}}</p>
                    {%- for item in item.links -%}
                    <p><a class="footer__link" href="{{item.url}}">{{item.name}}</a></p>
                    {% endfor %}
                </div>
                {% endfor %}
               
                <div class="col-md-4">
                    <p class="footer_subheading">Feedback</p>
                    <p> Share your expierence with Math-World</p>
                    <div class="input_div">
                        <i class="far fa-envelope"></i>
                        <input type="text" placeholder="Enter Your Email" class="input__design">
                    </div>
                    <a href="#">
                        <button class="my_btn mt-3" value="Enter Your Email"
                        style="background-color:{{footerData2.color}}">Submit</button>
                    </a>
                </div>
                <div class="col-12 mt-2">
                    <p class="footer_subheading text-center">Follow us on</p>
                    <div class="icons d-flex align-items-center justify-content-center">
                        {%- for item in site.data.blog.footer.socialIcon -%}
                        <a target="{{item.target}}" href="{{item.href}}">
                            <i class="{{item.i}} s_link" style="color:{{footerData2.color}}"></i>
                        </a>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 py-3" style="background-color: {{footerData2.color}};">
    <div class="col-12">
        <div class="d-flex justify-content-between px-md-5 px-0 footer__flexbox">
            <p class="m-0 text-white">{{site.copyright_text}}</p>
            <!-- <p class="m-0"><a class="footer__link" href="/about-us">About Us</a>
                <a class="footer__link" href="/contact-us">| Contact Us</a>
            </p> -->
        </div>
    </div>
</div>