{%- assign theme = site.data.theme.UI -%}
<!-- Start page-top section -->
<section class="page-top-section" style="background: {{theme.staticPagesColor}}">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6">
                <h1 class="text-white">Disclaimer</h1>
            </div>
            <div class="col-lg-6  col-md-6 page-top-nav" style="text-align: right;">
                <div>
                    <a href="/" class="text-white">Home</a>
                    <i class="fa fa-arrow-right text-white"></i>
                    <a href="/disclaimer" class="text-white">Disclaimer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page-top section -->

<!-- Start main body content -->
<section class="features-content section-gap">
    <div class="container">
        <p>
            <b>Updated at - </b>{{site.name}} hereby grants you to {{site.url}} and invites you to freely used the million color's services .
            
        </p>
        <p>
         <p>While the information on this website has been verified to the best of our abilities, <br> we cannot 
            guarantee that there are no mistakes or errors.</p>
        </p>
        </div>
        </section>