{%- assign theme = site.data.theme.UI -%}
<!-- Start page-top section -->
<section class="page-top-section" style="background: {{theme.staticPagesColor}}">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6">
                <h1 class="text-white">Privacy &amp; Policy</h1>
            </div>
            <div class="col-lg-6  col-md-6 page-top-nav" style="text-align: right;">
                <div>
                    <a href="/" class="text-white">Home</a>
                    <i class="fa fa-arrow-right text-white"></i>
                    <a href="/privacy-policy" class="text-white"> Privacy &amp;  Policy</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page-top section -->

<!-- Start main body content -->
<section class="features-content section-gap">
    <div class="container">
        <p>
            <b>{{site.url}}</b> doesn't collect any  Personal Data from its Users.
        </p>
        <p>
        <h3 class="font-weight-bold mb-4">Owner and Data Controller</h3>
         {{site.name}}: <b>Punjab, India</b>
         <p>Contact email: {{site.email}}</p>
         <p><b>{{site.name}} is provided by:</b> Manpreet Singh</p>
        </p>
        </div>
        </section>