{%- assign theme = site.data.theme.UI -%}
<!-- Start page-top section -->
<section class="page-top-section" style="background: {{theme.staticPagesColor}}">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6">
                <h1 class="text-white">Terms &amp; Conditions</h1>
            </div>
            <div class="col-lg-6  col-md-6 page-top-nav" style="text-align: right;">
                <div>
                    <a href="/" class="text-white">Home</a>
                    <i class="fa fa-arrow-right text-white"></i>
                    <a href="/terms-and-conditions" class="text-white"> Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page-top section -->

<!-- Start main body content -->
<section class="features-content section-gap">
    <div class="container">
        <p>
            These Terms govern the use of
            <b>{{site.url}}</b> and any other related Agreement or legal relationship with the Owner in a legally
            binding way. 
        </p>

        <b>The User must read this document carefully.</b>

        <p>
        <h3 class="font-weight-bold mb-4">Content on million color</h3>
        all content available on {{site.name}} is owned or provided by the Owner or its licensors.The Owner undertakes
        its utmost effort to ensure that the content provided on million color infringes no applicable legal provisions
        or third-party rights. 
        <p class="my-3"><b>Rights regarding content on {{site.name}} - All rights reserved</b></p>
        <p>The Owner holds and reserves all intellectual property rights for any such content.
            the User may download, copy and/or share some content available through million color for its sole personal
            and non-commercial use and provided that the copyright attributions and all the other attributions requested
            by the Owner are correctly implemented.</p>
        </p>
        <h3 class="font-weight-bold mb-4">Acceptable use</h3>
        <p class="my-3">
            {{site.url}} services may only be used within the scope of what they are provided for, under these Terms
            and applicable law.
            Users are solely responsible for making sure that their use of {{site.url}} services violates no
            applicable law, regulations or third-party rights.
        </p>


        <p>
        <h3 class="font-weight-bold mb-4">Software license</h3>
        <p class="my-3">
            Any intellectual or industrial property rights, and any other exclusive rights on software or technical
            applications embedded in or related to million color are held by the Owner .
            Subject to Users’ compliance with and notwithstanding any divergent provision of these Terms, the Owner
            merely grants Users a revocable, non-exclusive, non-sublicensable and non-transferable license to use the
            software and/or any other technical means embedded in the Service within the scope and for the purposes of
            million color and the Service offered.
            This license does not grant Users any rights to access, usage or disclosure of the original source code. All
            techniques, algorithms, and procedures contained in the software and any documentation thereto related is
            the Owner’s or its licensors’ sole property.
        </p>
        <p class="p-0 my-3">
            All rights and license grants to Users shall immediately terminate upon any termination or expiration of the
            Agreement.
        </p>
        </p>
        </div>
        </section>
